body {
    background: linear-gradient(to bottom, #6f42c1,rgb(0, 0, 0));
    height: 100vh;
    margin: 0;
}

#count{
    text-align: center;
    font-size: 5em;
    margin: 10px;
    transition:0.2s;
    
}

#buttons{
    text-align: center;
   
}

.button{
    font-size: 1.5em;
    padding: 6px;
    margin: 3px;
    background-color: #f8f9fa;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover{
    background-color: #9babfa;
    box-shadow: black;
    transform: scale(1.1);
   
}

.button:active{
    transform: scale(1.25);
   
}